body {
    background-color: #ffb6c1;
    font-family: 'Koulen', cursive;
    font-family: 'Lobster', cursive;
}

.barraNavegacion {
    background-color: #ff1493;
    font-family: 'Koulen', cursive;
    font-family: 'Lobster', cursive;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}



h3 {
    display: flex;
    justify-content: flex-start;
    margin-left: 7rem;
}

* {
    box-sizing: border-box;
}

body {
    color: #696969;
}

#sidebar {
    width: 20%;
    padding: 10px;
    margin: 0;
    float: left;
}

#products {
    width: 80%;
    padding: 10px;
    margin: 0;
    float: right;
}

ul {
    list-style: none;
    padding: 5px;
}

li a {
    color: #696969;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: #ff69b4;
}

.fa-circle {
    font-size: 20px;
}

#red {
    color: #e94545d7;
}

#teal {
    color: rgb(69, 129, 129);
}

#blue {
    color: #0000ff;
}

.card {
    width: 250px;
    display: inline-block;
    height: 300px;
}

.card-img-top {
    width: 250px;
    height: 210px;
}

.card-body p {
    margin: 2px;
}

.card-body {
    padding: 0;
    padding-left: 2px;
}

.filter {
    display: none;
    padding: 0;
    margin: 0;
}

@media(min-width:991px) {
    .navbar-nav {
        margin-left: 35%;
    }

    .nav-item {
        padding-left: 20px;
    }

    .card {
        width: 232px;
        display: inline-block;
        height: 350px;
    }

    .card-img-top {
        width: 188px;
        height: 210px;
    }

    #mobile-filter {
        display: none;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .navbar-nav {
        margin-left: 20%;
    }

    .nav-item {
        padding-left: 10px;
    }

    .card {
        width: 232px;
        display: inline-block;
        height: 350px;
        margin-bottom: 10px;
    }

    .card-img-top {
        width: 230px;
        height: 210px;
    }

    #mobile-filter {
        display: none;
    }
}

@media(min-width:568px) and (max-width:767px) {
    .navbar-nav {
        margin-left: 20%;
    }

    .nav-item {
        padding-left: 10px;
    }

    .card {
        width: 232px;
        display: inline-block;
        height: 350px;
        margin-bottom: 10px;
    }

    .card-img-top {
        width: 203px;
        height: 210px;
    }

    .fa-circle {
        font-size: 15px;
    }

    #mobile-filter {
        display: none;
    }
}

@media(max-width:567px) {
    .navbar-nav {
        margin-left: 0%;
    }

    .nav-item {
        padding-left: 10px;
    }

    #sidebar {
        width: 100%;
        padding: 10px;
        margin: 0;
        float: left;
    }

    #products {
        width: 100%;
        padding: 5px;
        margin: 0;
        float: right;
    }

    .card {
        width: 232px;
        display: inline-block;
        height: 350px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .card-img-top {
        width: 230px;
        height: 210px;
    }

    .list-group-item {
        padding: 3px;
    }

    .offset-1 {
        margin-left: 8%;
    }

    .filter {
        display: block;
        margin-left: 70%;
        margin-top: 2%;
    }

    #sidebar {
        display: none;
    }

    #mobile-filter {
        padding: 10px;
    }
}


.ui-search-price-filter-action-btn {
    -webkit-align-items: center;
    align-items: center;
    background-color: palevioletred;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 24px;
    margin-bottom: 6px;
    margin-left: 8px;
    padding: 0;
    position: relative;
    width: 24px;
}

.ui-search-price-filter-container {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}


.andes-form-control--textfield .andes-form-control__field {
    font-size: 16px;
    height: 22px;
    line-height: 22px;
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    border-style: inset;
    border-color: transparent;
}

.andes-form-control--textfield .andes-form-control__control {
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.375em;
    display: flex;
    font-size: 16px;
    min-height: 48px;
}

label {
    cursor: default;
}

label {
    cursor: default;
}

